<!DOCTYPE html>
<html>
<head>
    <title>Reddit Scraping Snapchat</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
        <a href="/" class="btn btn-primary btn-block">Reddit Tool</a>
        </div>
         <div class="col-6">
        <a href="/snap" class="btn btn-primary btn-block">Snapchat Tool</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2> Add Your Snapchat Users As Friend</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <input type="file" name="userFile" accept=".txt">
                        <div class="row">
                        </div>
                <button type="submit" class="btn btn-primary btn-block" name="loadSnapchatUsers">Load Snapchat Users</button>
            </div>

        </div>
    </form>
</div>

<!-- Add Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

</body>
</html>
